<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    {% if form.errors %}
    <p>There's something wrong with what you entered</p>
    {% endif %}

    {% if next %}
    <p>Hey, you can't access that page.</p>
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}

      <p>Username:</p>
      <p>{{ form.username }}</p>
      <p>Password:</p>
      <p>{{ form.password }}</P>

      <input type="submit" value="login">
      <input type="hidden" name="next" value="{{ next }}">

    </form>
  </body>
</html>
